.form-login{
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-right: 450px;
}

.form-control{
  border-radius: 65;
  border-color: #056BB3;
}
